/* Header */
header {
    padding: 2rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo-box img {
    max-width: 20.8rem;
}

header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
}

header .container .menu .navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    list-style: none;
}

header .container .menu .navigation ul li a {
    color: var(--gray-100);
    letter-spacing: -0.048rem;
    text-align: center;
}

header .container .menu .navigation ul li a:hover {
    cursor: pointer;
    opacity: .7;
}


/* Footer */
footer {
    padding: 4.8rem 0;
}

footer .container .main-area {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
}

footer .container .main-area {
    padding-bottom: 6.4rem;
}

footer .container .main-area .about-side {
    max-width: 30rem;
}

footer .container .main-area .about-side .logo-box img {
    max-width: 20.8rem;
}

footer .container .main-area .about-side p {
    margin-top: 2.4rem;
}

footer .container .main-area .link-wrapper {
    flex-grow: 1;
    max-width: 79.2rem;

    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
}

footer .container .main-area .link-wrapper .links .title {
    color: var(--color-gray-100, #F5F6FA);
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.048rem;
}

footer .container .main-area .link-wrapper .links ul {
    margin-top: 3.2rem;
    list-style: none;
}

footer .container .main-area .link-wrapper .links ul li:not(:last-child) {
    margin-bottom: 3.2rem;
}

footer .container .main-area .link-wrapper .links ul li a {
    color: var(--gray-600);
    letter-spacing: -0.048rem;

    display: flex;
    gap: 1.8rem;
}

footer .container .main-area .link-wrapper .links ul li a:hover {
    color: var(--gray-100);
}

footer .container .copyright {
    padding-top: 2.4rem;
}

footer .container .copyright p strong {
    font-weight: 600;
}


/* main content - Hero */
.s-hero {
    padding-top: 11.3rem;

    position: relative;
    z-index: 1;
}

.s-hero::after {
    content: '';
    background: var(--pink-10);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22rem;
    z-index: -1;
}

.s-hero .container .content {
    max-width: 72rem;
    margin: 0 auto;
    text-align: center;
}

.s-hero .container .content h1 {
    font-size: 5.6rem;
    font-weight: 600;
    letter-spacing: -0.168rem;

    position: relative;
    z-index: 1;
}

.s-hero .container .content h1::after {
    content: '';
    position: absolute;
    background: url('../images/vector_line-title.svg') no-repeat center/contain;
    bottom: -10px;
    left: 50%;
    transform: translateX(-53%);    
    width: 59.9rem;
    height: 3.2rem;
    z-index: -1;
}

.s-hero .container .content p {
    max-width: 55.6rem;
    margin: 2.4rem auto 0;

    color: var(--gray-300);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.054rem;
}

.s-hero .container .content .button {
    margin-top: 3.2rem;

    display: inline-block;
    position: relative;
    z-index: 1;
}

.s-hero .container .content .button::before {
    content: '';
    position: absolute;
    background: url('../images/vector_arrow-direction-button.svg') no-repeat center/contain;
    right: calc(100% + 4.45rem);
    bottom: 30%;
    width: 11.7rem;
    height: 7.8rem;
}

.s-hero .container .img-box {
    display: block;
    margin-top: 6.4rem;
}


/* main content - Digital */
.s-digital {
    padding: 12.8rem 0;
}

.s-digital .container h2 {
    max-width: 53.5rem;
    margin: 0 auto;

    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
}

.s-digital .container .ideas-wrapper {
    margin-top: 6.4rem;

    display: flex;
    gap: 3.2rem;
}


/* hr */
hr {
    border-color: #393B42;
}


/* main content - blog */
.s-blogpost {
    padding: 12.8rem 0;
}

.s-blogpost .container .header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

.s-blogpost .container .header-area .title-side {
    max-width: 53.9rem;
}

.s-blogpost .container .header-area .title-side h2 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
}

.s-blogpost .container .header-area .title-side p {
    margin-top: 1.6rem;
    max-width: 45.2rem;
}

.s-blogpost .container .header-area > p {
    flex-grow: 1;
    max-width: 42.9rem;
}

.s-blogpost .container .post-wrapper {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
}

.s-blogpost .container .post-wrapper .card:first-child {
    grid-column: span 2;
}


/* main content - Chamada*/
.s-chamada {
    padding: 8.9rem 0;
    background-color: var(--pink-10);
}

.s-chamada .container {
    text-align: center;       
}

.s-chamada .container .content {
    width: 100%;
    max-width: 68.7rem;
    margin: 0 auto;
}

.s-chamada .container .content h2 {
    font-size: 4.8rem;
    font-weight: 600;
    letter-spacing: -0.144rem;
}

.s-chamada .container .content p {
    margin-top: 1.6rem;

    color: var(--gray-100);
    font-size: 2.2rem;
    letter-spacing: -0.066rem;
}

.s-chamada .container .content .btn {
    margin-top: 2.4rem;
}