* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    color: #F5F6FA;
}

body,
html {
    overflow-x: hidden;
    background-color: #000205;
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}